In [1]:
class Person(object):
    def __init__(self, first_name, last_name):
        self.__first_name = first_name
        self.__last_name = last_name
        def __str__(self):
            tup=(str(self.first_name),str(self.last_name))
            return ','.join(tup)

class Employee(Person):
    def __init__(self, hourly_rate, hours_worked):
        Employee.__init__(self, hourly_rate, hours_worked)
        self.__hourly_rate = hourly_rate
        self.__hours_worked = hours_worked
        
        @property
        def Employees_pay(self):
            return self.__Employees_pay
Test_person = Person(first_name = "Bodie", last_name = "Wright")
print (Test_person)

<__main__.Person object at 0x7f22d1d92390>
<__main__.Person object at 0x7f22d1d92390>

In [6]:
class Employee:

    #initialize the attributes
    def __init__(self, first_name = "", last_name = ""):
        self.__first_name = first_name
        self.__last_name = last_name

    #set the attributes
    def set_first_name(self, first_name):
        self.__first_name = first_name

    def set_last_name(self, last_name):
        self.__last_name = last_name

    #return the attributes
    def get_first_name(self):
        return self.__first_name

    def get_last_name(self):
        return self.__last_name
    
    #return the objects state as a string

    def __str__(self):
        return 'FirstName: ' + self.__first_name + \
               ' LastName: ' + self.__last_name
print (Employee(first_name = "Bodie", last_name = "Wright"))

FirstName: Bodie LastName: Wright
FirstName: Bodie LastName: Wright

In [ ]:
class Employee_pay(Employee):
    def __init__(self, hourly_rate, hours_worked):
        self.__hourly_rate = hourly_rate
        self.__hours_worked = hours_worked
        
    def set_hourly_rate(self, hourly_rate):
        self.__hourly_rate = hourly_rate
    
    def set_hours_worked(self, hours_worked):
        self.__hours_worked = hours_worked
        
    def get_hourly_rate(self):
        return self.__hourly_rate
    
    def get_hours_worked(self):
        return self.__hours_worked
    
    def calculate_pay(hourly_rate, hours_worked):
        return hourly_rate * hours_worked
    
    def __str__(self):
        return "TotalPay: " + self.calculate_pay
print (Employee_pay(10, 23))

In [ ]:
class Employee_wages(Employee):
    def __init__(self,hours_worked, hourly_rate):
        self.hours_worked = hours_worked
        self.hourly_rate = hourly_rate

    def total_pay(self):
        return self.hours_worked*self.hourly_rate

hours_worked = int(input("Enter number of hours worked: "))
hourly_rate = int(input("Enter employee's hourly rate: "))
obj = total_pay(a,b)
choice=1
while choice!=0:
    print("0. Exit")
    print("1. Calculate total pay")

    choice=int(input("Enter choice: "))
    if choice==1:
        print("Result: ",obj.total_pay())
    elif choice==0:
        print("Exiting!")
    else:
        print("Invalid choice!!")
 
 
print()

In [11]:
import pandas as pd
Inventory_catalog = pd.read_csv(
        "catalog-2017-12-07-1957.csv", header = 0, usecols = ["Item Name", "Description", \
                                                              "Category", "Price", "Tax - Sales Tax (6.75%)"])

Inventory_catalog.head(10)

,Item Name,Description,Category,Price,Tax - Sales Tax (6.75%)
0,$1 Donation,$1.00 donation,Donation,1.00,N
1,$10 Donation,$10 Donation,Donation,10.00,N
2,$5 Donation,$5 Donation,Donation,5.00,N
3,10' Stand,10' Stand,Stands,variable,Y
4,"28"" Jack Frost","28"" Jack Frost",Wreaths,27.00,Y
5,4 Foot,Flocking for 4 foot tree,Flocking,40.00,Y
6,5 Foot,Flocking for 5 foot tree,Flocking,50.00,Y
7,6 Foot,Flocking for 6 foot tree,Flocking,60.00,Y
8,6' Stand,6' Stand,Stands,variable,Y
9,7 Foot,Flocking for 7 foot tree,Flocking,70.00,Y